@font-face {
    font-family: "Bodoni";
    src: url(fonts/Quicksand-VariableFont_wght.ttf);
}

html{
    height:100%;
}

body{
    font-family: "Bodoni";
    background-color: #d5bdaf;
    padding:0;
    height:100%;
    margin:0;
}
header{
    height:7%;
    background-color:  #EDEDE9;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.mainContent{
    display:flex;
    flex-direction: column;
}


.bookInput{
    padding:20px;
    display: flex;
    width: 100%;
    justify-content: center;


}


.addBook{
    background-image:url(images/plus.svg);
    height:50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s; 
}

.addBook:hover{
    background-color: grey;
}


.bookLibrary{
    width: 80%;
    float:left;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
    gap:20px;
    
}



.buttonDiv{
    padding:20px;

}
header{
    display: flex;
    height:fit-content;
    align-items: center;
    justify-content: center;
}
h2{
    align-self:center;
}
.bookDiv{
    display: flex;
    min-width: 250px;
    width:fit-content;
    flex-direction: column;
    margin:15px;
    padding:15px;
    background-color:  #FFD95A;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    border-radius: 15px;
}

input, label {
    display:block;

}

.formQuestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #836953 ;
    padding:25px;
}

.formQuestions input{
    padding:10px;
    border:none;
    height:20px;
    transition: background-color 0.3s;
}

.formQuestions input:focus{
    background-color: #d3d3d3;
}


.hide{
    transition:opacity .3s ease, visibility .3s ease;
    opacity:0;
    visibility: hidden;
}

.show{
    transition:opacity .3s ease, visibility .3s ease;
    opacity:1;
}

.formModal{
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    
}

