html{
    height:100%;
}

body{
    background-color: #ECE5E6;
    padding:0;
    height:100%;
    margin:0;
}
header{
    height:7%;
    background-color:  #EEBA4C;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.mainContent{
    display:flex;
    width: 100%;
    height:93%;
}


.sidebar{
    float:right;
    background-color: blue;
    display: flex;
    width: 20%;
    height:100%;
    justify-content: center;


}



.bookLibrary{
    width: 80%;
    float:left;
    display: grid;
    grid-template-columns: repeat(5,3fr);
    gap:20px;
    
}



input[type=button]{
    height: 100px;
    width: 100px;
}
.buttonDiv{
    padding:20px;

}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    align-self:center;
}
.bookDiv{
    max-height:250px;
    display: flex;
    flex-direction: column;
    margin:15px;
    padding:15px;
    background-color:  #D4C2FA;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    border-radius: 15px;
}


.bookDialog{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.formQuestions{
    width:300px;
    background-color: azure;
    padding:25px;
}

.hide{
    transition:opacity .3s ease, visibility .3s ease;
    opacity:0;
    visibility: hidden;
}

.show{
    transition:opacity .3s ease, visibility .3s ease;
    opacity:1;
}

.formModal{
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    
}

